*{
    margin:0;
    padding:0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;

}
/* *{
    outline:1px solid red !important;
} */


a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;

}

.flex-div{
    display: flex;
    align-items: center;
    

}
.size{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}


nav{
    padding: 10px 2%;
    justify-content: space-between;
    /* box-shadow: 90px 0 0 2px rgba(0,0,0, 0.2); */
    background: #fff;  
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-right img{
    width: 25px;
    margin-right: 25px;
}

.nav-right .account{
    width: 30px;
    border-radius: 50px;
    margin-right: 0;
}

.nav-left .menu{
    width: 25px;
    margin-right: 25px;
}

.nav-left .logo{
    width: 120px;
    height: 85px;
    

}
.nav-middle .mic-icon{
    width: 25px;
    margin-left: 15px;
}
.searchbox .search-icon{
    border: 1px solid #ccc;
    
    padding: 8px 12px;
   
}
.nav-middle .searchbox input{
    width: 572px;
    height: 42px;
    background: transparent;
    border: 1px solid #ccc;
}
input[type="text"]::placeholder {  
     padding-left: 10px;              
}

/*--------------------sidebar-----*/

.sidebar{
    background: #fff;
    width: 6%;
    height: 100vh;
    position: fixed;
    top: 0;
    /* padding-left: 2%; */
    padding-top: 90px;
}

.shortcuts a img{
     width: 23px;
     

}
.shortcuts a p{
    margin-bottom: 27px;
    font-size: 12px;

}
.shortcuts a{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.filters{
    position: fixed;
    left: 85px;
    top: 60px;
    height: 60px;
    background: #fff;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 9px;
    display: flex;
    align-items: center;
}

.filter-options{

    padding: 6px 12px;
    border-radius: 50px;
    background: #f0f0f0;
    border: 1px solid #dbdbdb;
    text-transform: capitalize;
    margin-right: 10px;
    color: #242424;
    font-size: 15px;
    cursor: pointer;
}

/*------------videos--------*/

.main{
   background-color: #F9F9F9;
    width: 1169px;
    height: 100vh;
    margin-top: 75px;
    margin-left: 100px;
    padding-left: 17px;
    padding-top: 10px;
   
    
}
.thumpnail .img{
    width: 277px;
    height: 156px;
} 
.thumpnail .img-icon{
    width: 36px;
    height: 36px;
    border-radius: 20px;
    /* margin-top: 10px; */

}
.video-div{
    width:1134px ;
    height: 270px;
     display: flex;
    justify-content: space-evenly;
    

   
}
.thumpnail{
    width: 277px;
    height: 270px;
    
}
.video-descp{
    font-size: 13px;
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    margin-left: 12px;
    cursor: pointer;
}
.descrp{
   display: flex; 
   align-items: center;
    margin-top: 12px;

}
.channel p{
    font-size: 12px;
    color: #606060;
    margin-left: 49px;
    margin-top: 10px;
    cursor: pointer;
}